<!DOCTYPE html>
<html>
<head>
	<title>BaseCricks: Match Day</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/matchday.css">
	<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
</head>
<body>
	<h1>Match Day</h1>
	<div>
		<h4 class="navigationButtons">
			<a href="membership.html">Membership</a>
		</h4>
		<h4 class="navigationButtons">
			<a href="keyterms.html">Key Terms</a>
		</h4>
		<h4 class="navigationButtons">	
			<a href="../index.html">Home</a>
		</h4>
		</div>

		<h3>Cricket: A Three Format Game</h3>
		<p>Cricket has three formats which amplifies the sport as one of the most unique sports in the world. The three formats are:
				<ul>
					<li>Test (First Class)
						<ul>
							<li>First Class matches range from 3-5 days in length.</li>
							<li>Test matches (international version of first class) last 5 days, unless a decisive result is reached earlier.</li>
							<li>Days last around 8 hours with three short breaks throughout the day.</li>
							<li>Days last 90 overs.</li>
							<li>Each team has two innings.</li>
							<li>To win, a team must bowl their oponents out completely in both innings, and successfully defend their accumulated total or successfully chase their opponents set target.</li>
						</ul>
					</li>
						<li>One Day Internationals (List A)
							<ul>
								<li>List A matches last roughly 10 hours.</li>
								<li>Each team has one innings.</li>
								<li>Each team has 50 allotted overs.</li>
								<li>One Day International is the international version of List A cricket.</li>
								<li>This format has a World Cup event hosted every four years.</li>
								<li>To win, a team must restrict their oponents to a total less than the team or successfully chase the total set by the opposition.</li>
							</ul>
					</li>
						<li>T20 Cricket
							<ul>
								<li>Matches last roughly 4 hours.</li>
								<li>Each team has one innings.</li>
								<li>Each team has an allotted 20 overs.</li>
								<li>T20 Cricket has a World Cup event hosted every four years.</li>
								<li>To win, a team must restrict their oponents to a total less than the team or successfully chase the total set by the opposition.</li>

							</ul>
						</li>
				</ul>
		</p>
		<h3>Cricket: The Future Holds Hope</h3>
		<p>Cricket is not a very popular sport in America. Yet we can hope it becomes as mainstream as possible. Here are some reasons why interest in the sport is rising fast:
				<ul>
					<li>With New York City as the melting pot that it is, the continuous-growing diverse population is allowing for more people from around the world to share their love of the sport.</li>
					<li>The rise of the shortest format, T20 Cricket, is attracting many younger fan from non-traditional cricketing nations.</li>
					<li>Cricket may be on the Summer Olympics very soon.</li>
					<li>The partial resemblance to baseball will be a key factor in capturing the interest of many baseball fans.</li>
				</ul>
				While the future holds exciting times for cricket enthusiasts ahead, enjoy this <div id="doodle"><a href="https://www.google.com/doodles/icc-champions-trophy-2017-begins" target="_blank">Google Doodle</div> that captures the simple aspects of the beautiful sport.
		</p>

</body>
</html>