<!DOCTYPE html>
<html>
<head>
	<title>BaseCricks: Membeship</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/membership.css">
	<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
</head>
<body>
	<h1>Membership</h1>
	<div class="navigationDiv">
		<h4 class="navigationButtons">
			<a href="../index.html">Home</a>
		</h4>
		<h4 class="navigationButtons">
			<a href="keyterms.html">Key Terms</a>
		</h4>
		<h4 class="navigationButtons">	
			<a href="matchday.html">Match Day</a>
		</h4>
		</div>


		<div class="membershipInfo">
			<h5>Cricket is governed by the International Cricket Council (ICC). The ICC enforces membership levels. The two categories are:
				<ul>
					<li>Permanent Members
						<ul>
							<li>Afghanistan</li>
							<li>Australia</li>
							<li>Bangladesh</li>
							<li>England</li>
							<li>India</li>
							<li>Ireland</li>
							<li>New Zealand</li>
							<li>Pakistan</li>
							<li>South Africa</li>
							<li>Sri Lanka</li>
							<li>West Indies</li>
							<li>Zimbabwe</li>
						</ul>
					</li>
					<li>Associate Members</li>
				</ul>
				The images to the left represent the countries that are permanent members. Currently, there are 12 members in this category with an additional 90+ associate members aiming to be promoted to full member status. Ireland and Afghanistan were promoted as recently as June, 2017. 
			</h5>
		</div>

		<img class="iccLogo" src="../media/icclogocricket.jpg" alt="ICC Logo. A blue cricket ball combined with blue stumps to represent cricket.">
		<br>
		<div id="IMGrow1">
			<figure>
			<img class="fullFlag" src="../media/afgFlag2.jpg" alt="Afghanistan's Flag. Three columns of black, red and green from left to right. The national crest, in white, is in the center of the flag and spans over the three colours.">
			<img class="fullFlag" src="../media/ausFlag.jpg" alt="Australian Flag. Blue background with the union jack in the top left corner and 6 white stars.">
			<img class="fullFlag" src="../media/bdFlag.jpg" alt="Bangladesh's flag. Green background with a large red dot in the center.">
			<img class= "fullFlag" src="../media/ENGflag.jpg" alt="England Flag. White background with a red cross in the center that reaches the four edges of the flag.">
			<img class="fullFlag" src="../media/IndFlag.jpg" alt="Indian Flag. Three rows of orange, white and green. In the white row is a blue 24 spoke wheel.">
			<img class="fullFlag" src="../media/IrelandFlag.jpg" alt="Irish Flag. Three columns of green, white and orange.">
			<img class="fullFlag" src="../media/NZFlag.jpg" alt="New Zealand's Flag. The flag is similar to Australia's flag, but has subtle differences. There are four stars and they are red.">
			<img class="fullFlag" src="../media/PKFlag.jpg" alt="Pakistani FLag. A column of white to the left, and a background of green to the right. There is a crescent moon with the opening facing the right side. There is a 5 pointed star to the right of the moon.">
			<img class="fullFlag" src="../media/SAFlag.jpg" alt="South African Flag. Colour combination of black, red, blue and green. Black is all the way on the left in a triangular shpe, with a green border in a Y-shape. Above the Y-shape is red. Below is blue. ">
			<img class="fullFlag" src="../media/SLFlag.jpg" alt="Sri Lankan Flag. Yellow background with two columns of green and orange on the left. Then a smaller red landscape with a lion carrying a sword on it.">
			<img class="fullFlag" src="../media/WIFlag.jpg" alt="Flag for the islands combining the West Indies. A purple background with a beach image consisting of a tree and cricket stumps, the sun, and the ocean.">
			<img class="fullFlag" src="../media/ZimbabweFlag.jpg" alt="Zimbabwe's flag. A bird-like figure on a red star in a white background on the left. Then there are multiple rows of green, yellow, and red. A black row stars the mirror image of top three rows beneath it.">
		</figure>
		</div>
</body>
</html>